* {
  outline: 1px solid black;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  background: pink;
  width: 100%;
}

header h1, h2 {
  width: 50%;
  margin: 0px;
  padding: 0px;
  height: 40px;
  font-size: 25px;
  float: left;
}

header nav {
  float: left;
  width: 100%;
}

header nav ul {
  padding: 0px;
  margin: 0px;
}

header nav ul li{
  padding: 0px;
  margin: 0px;
  display: inline-block;
  width: 20%;
}

body {
  width: 100%;
}
