.template {
  width: 95%;
  margin-left: 2.5%;
  height: 15em;
  background: #10696b;
  margin-top: 2em;
}

.template img {
  position: relative;
  float: left;
  height: 12em;
  width: 30%;
  margin-left: 2em;
  margin-top: 2em;

}

.template span {
  height: 10em;
  width: 55%;
  float: left;
  margin-top: 2em;
  margin-left: 2%;
}

.template span h3 {
  font-size: 2em;
  color: white;
}

.template span p {
  height: 80%;
  width: 100%;
  font-size: 1.2em;
  color: white;
  overflow-y: scroll;
}
